
    <div class="product_payments">
        <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {%- capture icon_svg -%}
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  {%- endcapture -%}
                  {%- assign unique_id = 'url(#payment-icon-' | append: type | append: '-' | append: section.id -%}
                  {{ icon_svg | replace: 'url(#', unique_id }}
                </li>
              {%- endfor -%}
            </ul>
    </div>