<div class="WI_paymentIcons" bis_skin_checked="1" style="
    margin-top: 10px;
">
  <ul class="payment-icons">
    {% assign active_payments = 'visa,master,klarna,vipps' | split: ',' %}
        {% for type in active_payments %}
          {{ type | payment_type_svg_tag: class: 'dp-payment-icon' }}
        {% endfor %}
  </ul>
</div>

{% comment %} Styles moved to sereluna.css {% endcomment %}
