<style>
  .WI_mobileQuickAddDrawer_main * {
    margin: 0;
  }
  .WI_mobileQuickAddDrawer_main {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    display: none;
    transition: 0.2s ease-out;
    overflow: hidden;
  }
  .WI_mobileQuickAffDrawer_in {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
    transition: 0.2s ease-out;
  }
  .shOw {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .WI_mobileQuickAffDrawer_cls {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
  .WI_mobileQuickAffDrawer_pro {
    width: 100%;
    height: auto;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  wi-quickaddproduct-info {
    width: 100%;
    height: auto;
  }
  wi-quickaddproduct-info h5 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    line-height: 14px;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 0;
  }
  wi-quickaddproduct-info span {
    width: 100%;
    font-size: 13px;
    color: #212121;
    line-height: 12px;
    margin-bottom: 5px;
    text-align: left;
  }
  .WI_quickAddProduct_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
    display: block;
  }
  .WI_quickAddProduct_options {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 10px;
    gap: 5px;
    flex-wrap: wrap;
  }
  .WI_quickAddProduct_options input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: 0;
  }
  .WI_quickAddProduct_options label {
    min-height: 35px;
    min-width: 36px;
    border: 1px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: 400 !important;
  }
  .WI_quickAddProduct_options input:checked + label {
    background-color: #212121;
    color: #fff;
  }
  .WI_quickAddProduct_options input:disabled + label {
    opacity: 0.5;
    pointer-events: none;
  }
  .quickATC {
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: #fff;
    font-weight: 700 !important;
    border: 0;
    text-transform: capitalize;
  }
  .quickATC:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  .WI_quickAddProduct_form form {
    display: flex;
  }
  .WI_quickAddProduct_form svg {
    width: 18px;
    height: 18px;
  }
</style>

<div class="WI_mobileQuickAddDrawer_main" style="display: none; background-color: rgba(0, 0, 0, 0.5);">
  <div class="WI_mobileQuickAffDrawer_in">
    <div class="WI_mobileQuickAffDrawer_cls">
      <div id="WI_mQD_cls">
        <svg
          class="icon--root icon--cross--small"
          width="11"
          height="11"
          viewBox="0 0 11 11"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M10.48 1.796 9.473.789 5.48 4.78 1.488.79.48 1.796l3.993 3.993L.48 9.78l1.008 1.008L5.48 6.796l3.993 3.993L10.48 9.78 6.488 5.79z" fill="#000" fill-rule="nonzero"></path>
        </svg>
      </div>
    </div>
    <wi-quickaddproduct-info></wi-quickaddproduct-info>
  </div>
</div>
