<div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
    {{ block.settings.text }}
</div>
    
{% schema %}
{
"name": "t:sections.image-with-text.blocks.text.name",
"settings": [
    {
        "type": "richtext",
        "id": "text",
        "default": "t:sections.image-with-text.blocks.text.settings.text.default",
        "label": "t:sections.image-with-text.blocks.text.settings.text.label"
    },
    {
        "type": "select",
        "id": "text_style",
        "options": [
            {
                "value": "body",
                "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
                "value": "subtitle",
                "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
        ],
        "default": "body",
        "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
    }
],
    "presets": [
        {
            "name": "t:sections.image-with-text.blocks.text.name",
            "category": "Global"
        }
    ]
}
{% endschema %}